$contentWidth: 650px;
$asideWidth: 240px;
$gap: 50px;

$toggle: $contentWidth + $asideWidth + $gap;


$listModifyGreen: #046e00;
$listModifyBlue: #0060bc;

$headerHeight: 50px;

$napoan: #2687E8;
$feedly: #6CC655;
$twitter: #2795E9;
$youtube: #cd201f;
$facebook: #3B5998;
$googleplus: #DD4B39;
$hatebu: #2C6EBD;
$mod: #B81521;
$pc: #1B9634;
$console: #0D4F92;
$custom-map: rgb(219, 34, 147);
$map-create: #1F9298;
$command-redstone: #5D38A9;
$command-mapcreate: #5D38A9;
$tool: #ED6211;
$pe: #BD5000;
$android: #A4C639;
$yakudachi: #226DB7;
$update: #8D9B12;
$playstation: #003791;
$switch: #E60012;
$xbox: #107c10;
$steam: #000000;
$origin: #F56C2D;
$addon: #008B8B;
$windows: #000000;
$windows10: #0078d7;


$icon-android: "\e859";
$icon-apple: "\e901";
$icon-facebook: "\e906";
$icon-feedly: "\e907";
$icon-google: "\e908";
$icon-hatebu: "\e900";
$icon-origin: "\e90a";
$icon-pocket: "\e90b";
$icon-rss: "\e90c";
$icon-twitter: "\e90f";
$icon-windows: "\e910";
$icon-youtube: "\e911";
$icon-steam: "\e912";
$icon-playstation: "\e913";
$icon-xbox: "\e914";
$icon-switch: "\e915";
$icon-new-releases: "\e031";
$icon-key: "\e0da";
$icon-add: "\e145";
$icon-clear: "\e14c";
$icon-create: "\e150";
$icon-left-quote: "\e244";
$icon-happy: "\e24e";
$icon-calendar: "\e24f";
$icon-folder: "\e2c7";
$icon-desktop: "\e30b";
$icon-game: "\e30f";
$icon-command: "\e322";
$icon-mouse: "\e323";
$icon-mobile: "\e324";
$icon-audio: "\e3a1";
$icon-number: "\e3cb";
$icon-flower: "\e545";
$icon-tag2: "\e54e";
$icon-apps: "\e5c3";
$icon-expand-less: "\e5ce";
$icon-expand-more: "\e5cf";
$icon-sms-failed: "\e626";
$icon-code: "\e86f";
$icon-home: "\e88a";
$icon-open-new: "\e89e";
$icon-search: "\e8b6";
$icon-chest: "\eb3f";
$icon-arrow-right: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-up: "\e905";
$icon-tag: "\e935";
$icon-chrome: "\e90d";
$icon-firefox: "\e90e";