@charset "UTF-8";

@import './import/variable.css';
@import './import/font.css';

@tailwind base;
@tailwind components;
 
/* purgecss start ignore */
/* purgecss end ignore */
 
@tailwind utilities;



.wp-editor {
    font-family: 'Noto Sans JP'!important;
    @import './postcss/import/content.css';
    width: 650px;
    margin: 0 auto;
    color: #080000;
    font-size: 14px;
}