@charset "UTF-8";

img,
video {
    @apply max-w-full h-auto my-1;
    /* zoom: 1.4; 横幅大きくなったから無理矢理大きくする */

    &.border {
        border: solid 1px #444;
    }
}

.youtube-box {
    position   : relative;
    width      : 100%;
    padding-top: 56.25%;
    margin     : 0 0 0.6rem;

    iframe {
        position: absolute;
        top     : 0;
        right   : 0;
        width   : 100% !important;
        height  : 100% !important;
    }
}

a {
    text-decoration: underline;
    color          : #0066FF;

    &:hover {
        color: #3F99FF;
    }

    &:visited {
        color: #723c94;
    }

    &.back-link {
        float: left;
    }

    &.next-link {
        float: right;
    }

    &.back-link,
    &.next-link {
        display        : block;
        padding        : 3px;
        margin         : 2px 2px 2px 10px;
        background     : #fff;
        border         : solid 1px #777;
        text-decoration: none !important;
        font-size      : 14px;
        font-weight    : bold;
        color          : #000;
        transition     : all .4s;
        border-radius  : 5px;

        &:hover {
            border-color: #000000 !important;
            color       : #000000 !important;
            box-shadow  : 0px 0px 5px rgba(100, 100, 100, 1);
            transition  : all .4s;
        }
    }

    &.napo-art-link {
        display      : block;
        padding      : 8px;
        border       : solid 2px #2687e8;
        background   : #2687e8;
        font-size    : 1.1em;
        color        : #fff !important;
        border-radius: 5px;
        box-shadow   : 0px 5px 0px #0072D4;
        text-align   : center;
        transition   : all .3s;

        &:hover {
            background: #fff;
            color     : #2687e8 !important;
        }
    }
}

p {
    line-height: 1.7;
    margin     : 0px 0px 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.3;
    margin     : 0.7em 0;
}

h1 {
    font-size    : 1.7em;
    border-left  : 5px solid #2687e8;
    box-shadow   : 0px 0px 6px rgba(100, 100, 100, 0.5);
    padding      : 5px 0px 6px 5px;
    border-radius: 0px 3px 3px 0px;
    position     : relative;
}

h2 {
    font-size    : 1.4em;
    border       : solid 2px #BDBDBD;
    padding      : 6px 5px 6px 12px;
    border-radius: 0px 5px 5px 0px;
    box-shadow   : 0px 3px 0px #848484;
    position     : relative;

    &:before {
        content   : "";
        display   : block;
        position  : absolute;
        width     : 4px;
        height    : 100%;
        background: #444;
        left      : -2px;
        top       : 0px;
    }
}

h3 {
    font-size    : 1.25em;
    border       : solid 1px #AAA;
    padding      : 6px 5px 6px 12px !important;
    border-radius: 5px;
    box-shadow   : 0px 2px 0px #888;
}

h4 {
    font-size    : 1.17em;
    border-bottom: 2px solid #ccc;
    border-left  : 2px solid #ccc;
    padding      : 0px 0px 4px 6px;
}

h5 {
    font-size    : 1.13em;
    border-bottom: 1px solid #ccc;
    padding      : 0px 0px 4px 0px;
}

#toc_container {
    margin    : 1rem 0 4rem;
    background: #f9f9f9;
    padding   : 1rem;

    ul {
        list-style-type: disc;

        li {
            line-height: 2;

            &:after {
                display: none;
            }
        }

        >li {
            margin: 4px;

            >ul {
                >li {
                    font-size: 0.9em;
                }
            }
        }
    }
}

dl {
    @apply mt-12 mb-8 px-6 pb-4 border border-gray-400 shadow-lg;

    &.nimu_stepchart {
        @apply border-none shadow-none;

        dd {
            @apply border-4 border-gray-600 p-3 rounded-xl my-6;

            &:after {
                content: '';
                @apply block absolute left-0 right-0 m-auto w-0 h-0;
                bottom       : -30px;
                border-left  : solid 30px transparent;
                border-right : solid 30px transparent;
                border-bottom: solid 0px transparent;
                border-top   : solid 30px #444;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    dt {
        @apply relative inline-block bg-white px-2 font-bold text-lg;
        top: -1rem;
    }

    dd {
        @apply relative top-0 m-0
    }
}

small {
    font-size: 0.8em;
}

strong {
    font-weight: bold;
    background : linear-gradient(rgba(0, 0, 0, 0) 80%, #ffff66 75%);
}

kbd {
    padding       : 4px 8px;
    margin        : 3px 6px;
    background    : #EFF0F2;
    border-radius : 4px;
    border-top    : 1px solid #F5F5F5;
    box-shadow    : 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333333;
    color         : #000;
    text-align    : center;
    line-height   : 1;
    font-weight   : bold;
    display       : inline-block;
    vertical-align: middle;
    zoom          : 1;
    position      : relative;
    bottom        : 0.2em;
}

blockquote {
    margin       : 1em 0.5em 1em;
    padding      : 1em;
    background   : #eee;
    border-radius: 8px;
}

table {
    @apply mb-6;
    border: none;

    th,
    td {
        @apply border-gray-500 py-2 px-3;

        &.big {
            @apply text-lg;
        }
    }

    th {
        @apply font-bold bg-gray-400;
    }

    td {
        &.enable {
            @apply bg-green-400;
        }

        &.disable {
            @apply bg-red-300;
        }
    }

    .bottomB {
        @apply border-b-2 border-gray-800;
    }

    ul {
        @apply ml-0;
    }

    thead {
        th {
            @apply border-gray-400;
        }
    }

    &.map-table {
        th {
            @apply px-6 py-3 font-bold;
        }

        td {
            @apply p-6 text-left;
        }
    }

    &.item-list-table ul {
        @apply list-none;
    }

    &.matome-table {
        @apply table-fixed text-lg;

        tr {
            @apply border-b-2 border-gray-800;

            &:last-child {
                @apply border-b-0;
            }
        }
    }
}

.list-modify {
    @apply inline-block m-1 p-2 rounded-md bg-napoan text-white font-bold;

    &.green {
        @apply bg-green-600
    }

    &.blue {
        @apply bg-blue-700;
    }
}

.sprite {
    image-rendering: pixelated;
    @apply inline-block align-middle h-4 w-4 bg-no-repeat;
}

.inv-sprite {
    background-image: url(https://napoan.com/wp-content/uploads/2018/04/InvSprite-1.png);
    @apply w-8 h-8;
}

.item-sprite {
    background-image: url(https://napoan.com/wp-content/uploads/2018/11/ItemCSS.png);
}

.entity-sprite {
    background-image: url(https://napoan.com/wp-content/uploads/2018/04/EntityCSS.png);

    &.entity-item {
        background-position: -16px -0px
    }

    &.entity-xp_orb {
        background-position: -160px -64px
    }

    &.entity-area_effect_cloud {
        background-position: -144px -36px;
    }

    &.entity-leash_knot {
        background-position: -144px -112px
    }

    &.entity-painting {
        background-position: -64px -80px
    }

    &.entity-item_frame {
        background-position: -112px -112px
    }

    &.entity-evocation_fangs {
        background-position: -128px -128px
    }

    &.entity-armor_stand {
        background-position: -0px -208px
    }

    &.entity-ender_crystal {
        background-position: -48px -64px
    }

    &.entity-egg {
        background-position: -96px -48px
    }

    &.entity-arrow {
        background-position: -64px -48px
    }

    &.entity-snowball {
        background-position: -80px -48px
    }

    &.entity-fireball {
        background-position: -112px -48px
    }

    &.entity-small_fireball {
        background-position: -112px -48px
    }

    &.entity-ender_pearl {
        background-position: -144px -48px
    }

    &.entity-eye_of_ender_signal {
        background-position: -160px -48px
    }

    &.entity-potion {
        background-position: -160px -112px
    }

    &.entity-xp_bottle {
        background-position: -112px -64px
    }

    &.entity-wither_skull {
        background-position: -176px -64px
    }

    &.entity-fireworks_rocket {
        background-position: 0px -160px
    }

    &.entity-spectral_arrow {
        background-position: -64px -48px
    }

    &.entity-shulker_bullet {
        background-position: -96px -96px
    }

    &.entity-dragon_fireball {
        background-position: -112px -96px
    }

    &.entity-llama_spit {
        background-position: -160px -128px
    }

    &.entity-tnt {
        background-position: -0px -64px
    }

    &.entity-commandblock_minecart {
        background-position: -80px -96px
    }

    &.entity-boat {
        background-position: -128px -32px
    }

    &.entity-minecart {
        background-position: -144px -32px
    }

    &.entity-chest_minecart {
        background-position: -160px -32px
    }

    &.entity-furnace_minecart {
        background-position: -176px -32px
    }

    &.entity-tnt_minecart {
        background-position: -128px -80px
    }

    &.entity-hopper_minecart {
        background-position: -144px -80px
    }

    &.entity-spawner_minecart {
        background-position: -160px -80px
    }

    &.entity-evocation_illager {
        background-position: -80px -128px
    }

    &.entity-vex {
        background-position: -96px -128px
    }

    &.entity-vindication_illager {
        background-position: -112px -128px
    }

    &.entity-creeper {
        background-position: -16px -16px
    }

    &.entity-skeleton {
        background-position: -144px -0px
    }

    &.entity-wither_skeleton {
        background-position: -64px -64px
    }

    &.entity-stray {
        background-position: -16px -128px
    }

    &.entity-spider {
        background-position: -160px -0px
    }

    &.entity-giant {
        background-position: -128px -0px
    }

    &.entity-zombie {
        background-position: -128px -0px
    }

    &.entity-zombie_villager {
        background-position: -16px -80px
    }

    &.entity-husk {
        background-position: -32px -128px
    }

    &.entity-slime {
        background-position: -32px -16px
    }

    &.entity-ghast {
        background-position: -48px -16px
    }

    &.entity-zombie_pigman {
        background-position: -64px -16px
    }

    &.entity-enderman {
        background-position: -128px -16px
    }

    &.entity-cave_spider {
        background-position: -0px -16px
    }

    &.entity-silverfish {
        background-position: -144px -16px
    }

    &.entity-blaze {
        background-position: -112px -32px
    }

    &.entity-magma_cube {
        background-position: -176px -16px
    }

    &.entity-ender_dragon {
        background-position: -64px -32px
    }

    &.entity-wither {
        background-position: -0px -80px
    }

    &.entity-witch {
        background-position: -80px -64px
    }

    &.entity-endermite {
        background-position: -16px -112px
    }

    &.entity-guardian {
        background-position: -32px -112px
    }

    &.entity-elder_guardian {
        background-position: -48px -112px
    }

    &.entity-shulker {
        background-position: -80px -32px
    }

    &.entity-bat {
        background-position: -48px -80px
    }

    &.entity-pig {
        background-position: 0px 0px
    }

    &.entity-sheep {
        background-position: -16px -0px
    }

    &.entity-cow {
        background-position: -32px -0px
    }

    &.entity-chicken {
        background-position: -48px -0px
    }

    &.entity-squid {
        background-position: -64px -0px
    }

    &.entity-wolf {
        background-position: -80px -16px
    }

    &.entity-mooshroom {
        background-position: -80px -0px
    }

    &.entity-snowman {
        background-position: -96px -32px
    }

    &.entity-ocelot {
        background-position: -0px -48px
    }

    &.entity-villager_golem {
        background-position: -176px -48px
    }

    &.entity-horse {
        background-position: -0px -96px
    }

    &.entity-donkey {
        background-position: -16px -96px
    }

    &.entity-mule {
        background-position: -32px -96px
    }

    &.entity-zombie_horse {
        background-position: -64px -96px
    }

    &.entity-skeleton_horse {
        background-position: -48px -96px
    }

    &.entity-rabbit {
        background-position: -64px -112px
    }

    &.entity-polar_bear {
        background-position: -0px -128px
    }

    &.entity-llama {
        background-position: -64px -128px
    }

    &.entity-villager {
        background-position: -96px -0px
    }

    &.entity-player {
        background-position: -112px -0px
    }

    &.entity-lightning_bolt {
        background-position: -144px -64px
    }

    &.entity-cod_mob {
        background-position: -80px -160px
    }

    &.entity-salmon_mob {
        background-position: -112px -160px
    }

    &.entity-pupper_fish {
        background-position: -128px -160px
    }

    &.entity-phantom {
        background-position: -64px -160px
    }

    &.entity-turtle {
        background-position: -32px -160px
    }

    &.entity-dolphin {
        background-position: -32px -176px
    }

    &.entity-illusioner {
        background-position: -16px -144px
    }
}

.block-sprite {
    background-image: url(https://napoan.com/wp-content/uploads/2018/03/BlockCSS.png);
}

ol {
    counter-reset: number;
    @apply list-none my-2 ml-8;

    li {
        @apply relative my-4;

        &:before {
            counter-increment: number;
            content          : counter(number);
            top              : -0.3em;
            left             : -0.8em;
            width            : 14px;
            height           : 14px;
            @apply block text-xl text-purple-700 font-bold;
        }
    }
}

ul {
    @apply list-none my-2 ml-8;

    li {
        position: relative;
        margin  : 15px 0;

        &:after {
            display      : block;
            content      : '';
            @apply absolute block bg-purple-800 rounded-full w-4 h-4;
            top          : .5em;
            left         : -1em;
        }

        >ul {
            @apply ml-4 text-sm;
        }
    }
}

pre {
    @apply rounded-md bg-gray-800 mb-6 text-white;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace, "Noto Sans JP";

    .highlightline {
        @apply bg-red-900 inline-block w-full;
    }
}

b.command {
    @apply text-lg inline-block m-1 p-1 rounded-md bg-gray-300 break-normal font-bold;
}

.command-highlight {
    @apply inline-block py-1 px-3 mx-1 bg-gray-200 rounded-md border border-gray-400 break-all;
}

.black-highlight {
    @apply inline-block py-1 px-3 mx-1 bg-gray-800 text-white rounded-md;

    b::selection,
    &::selection {
        @apply bg-napoan;
    }
}

.code {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace, Noto Sans;
}

/* 重要な注意文 */
.strong-notice {
    @apply my-6 mx-3 p-4 border-2 border-red-600 bg-red-300 shadow-lg;
}

/* コマンドブロック */
.mode {
    @apply inline-block m-2 py-1 px-3 rounded-md text-white font-bold text-lg border-2;
}

.imp {
    @apply bg-red-600 border-red-600;
}

.chain {
    @apply bg-green-600 border-green-600;
}

.repeat {
    @apply bg-purple-600 border-purple-600;
}

.con {
    @apply bg-white border-gray-800 text-black;
}

.unc {
    @apply bg-black border-black;
}

.nee {
    @apply bg-gray-300 border-gray-300 text-black;
}

.alw {
    @apply bg-red-600 border-red-600
}

/* バージョン表記 */
span.v8,
span.v7,
span.v9,
span.v10 {
    @apply inline-block m-1 py-1 px-2 text-white font-bold
}

span.v8 {
    background: #C71585;
}

span.v7 {
    background: #006400;
}

span.v9 {
    background: #8B008B;
}

span.v10 {
    background: #191970;
}

.mod-inst {
    @apply my-5 mx-3 p-3 rounded-xl bg-white shadow-lg border-gray-400;

    span.title {
        @apply text-lg font-bold;
    }

    p.note {
       @apply bg-white p-3 rounded-xl;
    }

    ol,
    ul {
        @apply ml-5;
    }

    .stopmodreposts {
        @apply block  text-white my-5 p-6 text-center overflow-hidden bg-napoan no-underline;


        b {
            text-shadow: 0px 5px 0px rgb(0, 0, 0);
            line-height: 1.2;
            animation  : textshadowmoco 5s ease 0s infinite normal;
            @apply block text-2xl;
        }
    }
}

@keyframes textshadowmoco {
    0% {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
        transform  : translateY(0%);
    }

    20% {
        text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.8);
        transform  : translateY(-5px);
    }

    80% {
        text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.8);
        transform  : translateY(-5px);
    }

    100% {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
        transform  : translateY(0%);
    }
}

a.back-button {
    margin-left    : auto;
    display        : table;
    padding        : 0.5em;
    text-decoration: none;
    border-radius  : 5px;
    background     : #2687E8;
    color          : #fff !important;
    font-size      : 1.1em;
    font-weight    : bold;
}

ul#mokuzi {
    list-style-type: none;
    border         : solid 2px #444;
    border-top     : solid 0px #fff;
    padding        : 0px;
    margin         : 10px;
    box-shadow     : 0px 3px 0px rgba(1, 1, 1, 0.3);

    li:after {
        display: none !important;
    }

    >li {
        display    : block;
        margin-left: 0px;

        >a {
            margin-left    : -3px;
            margin-top     : -1px;
            display        : block;
            padding        : 10px;
            width          : 98%;
            font-size      : 19px;
            font-size      : 1.2rem;
            font-weight    : bold;
            background     : #b5e8ff;
            line-height    : 1.2rem;
            text-decoration: none;
            box-shadow     : 1px 3px 5px rgba(1, 1, 1, 0.4);
            z-index        : 2;
        }

        >ul {
            list-style-type: none;
            padding-left   : 0px;
            margin-left    : 0px;

            >li {
                position       : relative;
                padding-right  : 15px;
                border-bottom  : solid 1px #333;
                list-style-type: none;
                margin-left    : 0px;

                &:last-child {
                    border-bottom: solid 0px #fff;
                }

                a {
                    font-size      : 17px;
                    font-size      : 1rem;
                    display        : block;
                    line-height    : 20px;
                    line-height    : 1.4rem;
                    padding        : 8px;
                    text-decoration: none;

                    &.big {
                        font-size  : 19px;
                        font-size  : 1.2rem;
                        line-height: 20px;
                        line-height: 1.4rem;
                    }

                    &:before,
                    &:after {
                        content      : "";
                        position     : absolute;
                        border-top   : solid 10px transparent;
                        border-right : solid 10px transparent;
                        border-bottom: solid 10px transparent;
                        width        : 0px;
                        height       : 0px;
                        bottom       : 8px;
                    }

                    &:before {
                        right      : 0px;
                        border-left: solid 10px #000000;
                    }

                    &:after {
                        right      : 2px;
                        border-left: solid 10px #fff;
                    }
                }
            }
        }
    }
}

.quote-image {
    display   : inline-block;
    margin    : 8px 4px;
    padding   : 5px;
    background: #2687e8;
    color     : #fff;

    a,
    a:visited,
    a:hover {
        color: #fff !important;
    }

}

/* -------------------
Amazon
------------------- */
.aalb-pa-ad-unit {
    padding: 20px 10px;
    border : solid 2px #DDD;
    margin : 10px 0px;

    &.pull-left {
        float: none;
    }
}

@media screen and (max-width:650px) {
    dl {
        @apply pt-0 px-6 pb-8;
    }

    #contents-list {
        ul {
            >li {
                font-size: 19px;
            }
        }
    }

    table {
        &.matome-table {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:500px) {
    ul>li>ul {
        margin-left: 0.4em;
    }
}